.details-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 93vw;
    gap: 2em;
    background-color: var(--primary-green);
    border-radius: 8px;
    margin: 1.5em;
}

.icon-and-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    background-color: var(--primary-green);
    border-radius: 5px;
    font-size: 1.5em;
    font-family: 'PP woodland';
    color: white;
    padding: 0.5em;
}

.bar-icon {
    width: 2.5vw;
    aspect-ratio: 1/1;
}

p {
    font-family: 'Inter';
    margin: 0;
    padding: 5px;
}