.profile-card {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px;
    background-color: var(--primary-blue);
    border-radius: 15px;
    margin: 10%;
}

#profile-header {
    padding-top: 2em;
    padding-bottom: 2em;
    display: flex;
    flex-direction: row;
    width: 80%;
    align-items: center;
    justify-content: center;
    gap: 4em;
    border-bottom: 2px solid orange
}
#profile-header h1 {
    color: white;
}

#profile-picture {
    height: 7em;
    aspect-ratio: 1/1;
    border-radius: 50%;
}