.section1 {
  background-image: url("../../public/hero_image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section2 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  display: grid;
  /* grid-template-columns: [first] 40px [line2] 50px [line3] auto [col4-start] 50px [five] 40px [end]; */
  grid-template-rows: 20% 40% 40%;
}

.about-us-heading {
  grid-row-start: 1;
  grid-row-end: 2;
}

.community {
  background-image: url("../../public/circle.jpg");
  background-size: cover;
  background-position: center;
  height: 250px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  grid-row-start: 2;
  grid-row-end: 3;
}

.welcome1 {
  background-image: url("../../public/flagdown.jpg");
  background-size: cover;
  background-position: center;
  height: 250px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  grid-row-start: 2;
  grid-row-end: 3;
}

.enjoyable {
  background-image: url("../../public/triangle.jpg");
  background-size: cover;
  background-position: center;
  height: 250px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  grid-row-start: 3;
  grid-row-end: 4;
}
.reliable {
  background-image: url("../../public/flagup.jpg");
  background-size: cover;
  background-position: center;
  height: 250px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  grid-row-start: 3;
  grid-row-end: 4;
}
