.events-card {
  width: 400px;
  height: 450px;
  border-radius: 0.8em;
  background-color: var(--primary-blue);
  overflow: hidden;
  margin-bottom: 3em;
}


 .event-card-details{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1em;
  height: 160px;
}

.time-and-date {
  display: flex;
  flex-direction: row;
  gap: 2em;
  align-items: center;
}
.events-icon img {
  height: 2.5em;
}

.time-and-date .event-time,
.time-and-date .event-date {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  align-items: center;
  font-family: "Woodland Ultralight";
  font-size: 1.3em;
  padding-top: 1;
}

.event-card-details h2 {
  margin: 0;
  padding: 0;

}
.user-icon {
  height: 1.5em;
}
.attendees-and-join {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
}
.attendees {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  align-items: center;
  font-family: "Woodland Ultralight";
  font-size: 1em;
  width: 70%;
}

button.event-button {
  border: transparent;
  height: 3.5em;
  width: 3.5em;
  padding: 0.5em;
  border-radius: 0.5em;
  background-color: var(--accent-color);
  transition: 0.3s ease-in-out;
}

button.event-button:hover {
  cursor: pointer;
  background-color: #edb269;
}
button.event-button:active {
  transform: scale(0.8)
}

.event-image {
  width: 400px;
  height: 250px;
  background-size: cover;
}
.events-card-scroll {
  height: 200%;
  width: 100%;
  transition: 0.2s ease-in-out;
}
.events-card-scroll:hover {
  transform: translateY(-30%);
}

.additional-event-details {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 200px;
  text-align: center;
}