.map-container {
    height: 80vh;
    width: 60vw;
    border-radius: 15px;
    margin-top: 15px;
  }

  @media (max-width: 576px) {
    .map-container {
      height: 60vh;
      width: 90vw;
      margin: 30px
    }

  }
