.header{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 70px;
    background-color: #354C33;
    padding-left: 40px;
    padding-top: 15px;
    padding-bottom: 10px;
}

.logo{
    width: 30%;
    display: flex;
    align-items: baseline;
}

.navbarh2 {
    color: #FDF0D3;
    padding: 8px;
    font-size: 40px;
}

.nav-links {
    display: flex;
    align-items: center;
    width: 50%;
    color: #FDF0D3;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

li {
    font-size: 24px;
    padding: 1em;
}
