#community-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.events-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3em;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#profiles-container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-around;
    flex-wrap: wrap; 
    gap: 2em;
    padding-bottom: 7em;
}

.section1-community {
    background-color: #FDF0D3;
}

.orange-line-2 {
    border-top: 3px solid #f19e38;
    padding-bottom: 10px;
    width: 60%;
    align-self: center;
    transform: translateY(-3px);
}