.explore-page {
    display: flex;
    flex-direction: row;
}

.left-hand-map-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
}

.route-cards {
    height: 70vh;
    overflow: scroll;
    width: 30vw;
}

.route-cards::-webkit-scrollbar {
    display: none;
  }