.section1 {
  background-image: url("../../../public/hero_image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  font-size: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section2 {
  height: 60vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 50% 50% ;
  grid-template-columns: 25% 25% 25% 25%;
  align-items: center;
}

.button {
  background-color: #f19e38;
  color: #232011;
  border: none;
  border-radius: 15px;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 300px;
  cursor: pointer;
  box-shadow: 3px 3px 3px;
}

.button:hover {background-color: #edb269}

.button:active {
  background-color: #ecb471;
  box-shadow: 3px 3px 3px #666;
  transform: translateY(2px);
}

.about-us-heading {
  font-size: 3em;
  color: var(--primary-green);
  margin: 40px;
  text-align: center;
}

h3 {
  font-size: em;
}

h1 {
  color: #232011;
}

.why-icon{
  opacity: 0.5;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
  height: 100%;
}

.why-text {
  position: relative;
}

.why-text h3 {
  color: var(--darkest-value);
  font-size: 1.5em;
  margin-bottom: 20px;
  margin-top: 0px;
}

.why-text p {
  color: var(--darkest-value);
  font-size: 1em;
  margin-top: 0px;
  width: 100%
}

.community {
  overflow: hidden;
  position: relative;
  height: 250px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
}

.welcome1 {
  overflow: hidden;
  position: relative;
  height: 250px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 3;
  grid-column-end: 4;
}

.enjoyable {
  overflow: hidden;
  position: relative;
  height: 250px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
}
.reliable {
  overflow: hidden;
  position: relative;
  height: 250px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 4;
}


.section3 {
  background-color: #FDF0D3;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carousel-title {
  font-size: 64px;
  margin-bottom: 80px;
  color: #354C33;
}

.section4 {
  padding: 8%;
  align-items: center;
}
.testimonial-header {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10%;
}
.testimonial-img1 {
  display:flex;
  width: 7%;
  height: 7%;
  ;
}
.testimonial-title {
  display:flex;
  font-size: 64px;
  margin-bottom: 80px;
  color: #354C33;
  align-self: center;
}
.testimonial-img2 {
  display:flex;
  width: 7%;
  height: 7%;
}
.img1 {
  width: 40%;
  height: 49%;
  padding-bottom: 5%;
}
.img2 {
  width: 40%;
  height: 49%;
  padding-bottom: 5%;
}
.img3 {
  width: 40%;
  height: 49%;
  padding-bottom: 5%;
}
.container-grid {
  display: grid;
  grid-template-rows: 1fr, 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  justify-content: space-between;
  align-items: center;
}
.name {
  font-weight: bold;
  color: #354C33;
}