.route-details-dropdown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.dropdown-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90vw;
    margin: 1em;
}

#map-image, .dropdown-body p {
    height: 400px;
    width: 50%;
    font-size: 1.2em;
    margin: 1em;
    object-fit: cover;
    border-radius: 15px;
}

.dummy-carousel {
    height: 40vh;
    width: 90vw;
    border: 1px dotted red
}

.route-details-dropdown h1 {
    font-size: 3em;
    color: var(--primary-green);
    margin: 0.7em;
}

.close-button {
    color: white;
    background-color: var(--accent-color);
    border: none;
    border-radius: 50%;
    width: 50px;
    font-size: 2.2em;
    margin-right: 3.2em;
    align-self: flex-end;
    cursor: pointer;
    aspect-ratio: 1/1;
    box-shadow: 2px 2px 2px black;
}

.explore-carousel .legend {
    display: none;
}

#mobile-img {
    visibility: hidden
}

@media (max-width: 576px) {
    .route-details-dropdown h1{
        font-size: 30px;
    }

    .dropdown-body p {
        width: 90vw;
    }

    #map-image {
        width: 90vw;
    }

    .explore-carousel {
        visibility: hidden;
        height: 1vh;
    }

    #mobile-img {
        visibility: visible;
        width: 90vw;
    }

    .close-button {
        margin-right: 0.7em;
        margin-top: 1em;
        font-size: 1.5em;
    }
}