
/* CSS color variables - to referance variables use var(variable-name) */
:root {
  --primary-green: #354C33;
  --darkest-value: #232011;
  --lightest-value: #FDF0D3;
  --medium-value: #A69774;
  --accent-color: #f19e38;
  --primary-blue: #588AAB;
}

@import url(./fonts/PPWoodland-Bold.otf);
@import url(./fonts/PPWoodland-Ultralight.otf);
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'PPWoodland-Bold', sans-serif;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
