.footer {
    width: 100%;
    height: 25vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #354C33;
    padding: 2em 0em 2em 0em;
}

.footer-logo-title {
    margin-left: 4em;
    margin-top: 3em;
    color: #FDF0D3;
    font-size: 11px;
}

.footer-links {
    display: grid;
    width: 70vw;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1em;
}

.minilogo {
    aspect-ratio: 1/1;
    width: 1vw;
}

.footer-column ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2em;
    list-style: none;
    height: 25vh;
}
     
.footer-explore {
    grid-column-start: 2;
}
.footer-community {
    grid-column-start: 3;
}
.footer-signup {
    grid-column-start: 4;
}
.footer-column li {
    color: #FDF0D3;
    font-size: 15px;
    list-style: none;
}

@media (max-width: 576px) {
    .footer-logo-title{
        visibility: hidden;
        width: 0vw;
        height: 0vh;
        margin: 0px;
    }

    .footer {
        justify-content: flex-start;
    }

    .footer-links {
        gap: 2.2em;
    }

    .footer-column ul {
        gap: 1.2em;
    }

    .minilogo {
        width: 3vw;
    }
}
  